<div style="margin-top: 30px; margin-bottom:100px; ">
  <h3 class="bg-light m-10 px-25 w-25 text-center">従業員一覧</h3>
  <div class="container">
    <div class="row">
  　　<table class='table table-hover table-inverse'>
    　　<thead>
      　　<tr>
        　　<th>会員ID</th>
        　　<th>氏名</th>
        　　<th></th>
        　　<th>ステータス</th>
        　　<th></th>
      　　</tr>
    　　</thead>
        <tbody>
          <% @employees.each do |employee| %>
            <tr>
              <td><%= employee.id %></td>
              <td><%= employee.first_name + employee.last_name%></td>
              <td><%= link_to "確定シフト確認", admin_shifts_personal_shift_path(employee),class: "btn btn-primary" %></td>
              <td>
                <% if employee.is_deleted == true %>
                  有効
                <% else %>
                  退会
                <% end %>
              </td>

              <td>
                <% if employee.is_deleted == true %>
                  <%= link_to "退会処理をする", admin_employees_unsubscribe_path(employee),class: "btn btn-danger" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class="offset-5 text-center">
      <%= paginate @employees %>
    </div>
  </div>
</div>