<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<%= link_to "Topページ",root_path , class: "btn btn-outline-light" %>
<%= link_to "赤",root_path , class: "btn btn-danger" %>
<%= link_to "Topページ",root_path , class: "btn btn-outline-light" %>
<%= link_to "Topページ",root_path , class: "btn btn-outline-light" %>
<%= link_to "Topページ",root_path , class: "btn btn-outline-light" %>
<%= link_to "Topページ",root_path , class: "btn btn-outline-light" %>
