<h1>Public::Shifts#sent_shift</h1>
<p>Find me in app/views/public/shifts/sent_shift.html.erb</p>

<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">シフト新規登録</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        <%= form_with model: @shift do |f| %>
      　<%= f.select :year, (2021..2021).to_a, {include_blank: '年'}, { class: 'form-control', required: true } %>
        <%= f.select :month, (01..12).to_a, {include_blank: '月'}, {class: 'form-control',required: true } %>
      　<%= f.select :date, (01..31).to_a, {include_blank: '日'}, {class: 'form-control',required: true } %>
        <%= f.select :start_hour_time, (01..24).to_a, {include_blank: '時間'}, { class: 'form-control',required: true } %>
        <%= f.select :start_minute_time, [0,15,30,45], {include_blank: '分'}, { class: 'form-control',required: true } %>
        <%= f.select :end_hour_time, (01..24).to_a, {include_blank: '時間'}, { class: 'form-control',required: true } %>
        <%= f.select :end_minute_time, [0,15,30,45], {include_blank: '分'}, { class: 'form-control',required: true } %>
        <% end %>
       </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



  <div id='calendar'></div>

