<h1>Public::Shifts#sent_shift</h1>
<p>Find me in app/views/public/shifts/sent_shift.html.erb</p>


<%= form_with model: @shift do |f| %>
  <%= f.select :start_hour_time, [0,1,2,3,4,5,6,7,8,9,24], {include_blank: '時間'}, { class: 'form-control' , required: true } %>
  <%= f.select :start_minute_time, [0,15,30,45], {include_blank: '分'}, { class: 'form-control' , required: true } %>
  <%= f.select :end_hour_time, [0,24], {include_blank: '時間'}, { class: 'form-control' , required: true } %>
  <%= f.select :end_minute_time, [0,15,30,45], {include_blank: '分'}, { class: 'form-control' , required: true } %>
  <%= f.submit %>
<% end %>


  <div id='calendar'></div>

