<div class='container px-5 px-sm-0'>
  <div class="row pb-5">
    <div class="bg-light px-25 w-25 text-center">
      <h3>共有コメント一覧</h3>
    </div>
    <!--共有コメント登録-->
    <div class="offset-8">
      <%= link_to new_share_comment_path do %>
      <i class="fas fa-plus-circle fa-3x size"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="card-list-container py-5">
<% @share_comments.each do |share_comment| %>
<div class="card w-50 mx-auto mt-4 shadow-lg">
  <%= link_to share_comment_path(share_comment.id) do %>
    <%= attachment_image_tag share_comment, :image, class:"card-img-top"; %>
  <% end %>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p class="card-text">コメント：<%= share_comment.comment %></p>
        <span><i class="fas fa-user"></i><%= share_comment.cheakable.first_name %><%= share_comment.cheakable.last_name %> </span>
        <span><%= share_comment.created_at %></span>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= paginate @share_comments %>
</div>