<h1>Admin::Shifts#index</h1>
<p>Find me in app/views/admin/shifts/index.html.erb</p>

<div class="offset-8">
  <%= link_to new_admin_shift_path do %>
  <i class="fas fa-plus-circle fa-3x size"></i>
  <% end %>
</div>
<table>
  <thead>
<tr>
  <th></th>
  <th></th>
  <% (0..23).each do |hour|%>
    <th><%= hour %></th>
  <% end %>
</tr>
</thead>
<tbody>
<% @terms.each do |date| %>
 <tr>
   <td><%= date %></td>
   <td><%= %w(日 月 火 水 木 金 土)[date.wday]%></td>
   <% (0..23).each do |hour|%>
       <td>
         <%= @shifts.where(:confirmation_start_time=> DateTime.new(date.year,date.month,date.day,hour,0,0)..DateTime.new(date.year,date.month,date.day,hour,0,0)).last&.employee&.first_name %>
         <%= @shifts.where(:confirmation_end_time=> DateTime.new(date.year,date.month,date.day,hour,0,0)..DateTime.new(date.year,date.month,date.day,hour,0,0)).last&.employee&.first_name %>
       </td>
   <% end %>
 </tr>
<% end %>
</tbody>
</table>



<% @shifts.each do |shift| %>
<div>

<%= shift.employee.first_name %>
<%= shift.confirmation_start_time %>
<%= shift.confirmation_start_time.hour %>:
<%= shift.confirmation_start_time.min %>〜
<%= shift.confirmation_end_time.hour %>:
<%= shift.confirmation_end_time.min %>


<%= link_to "削除", admin_shift_path(shift.id), method: :delete %>

</div>
<% end %>

<%= link_to "登録する", admin_shifts_shift_update_path, class: "btn btn-success" %>