<h1>Admin::Shifts#index</h1>
<p>Find me in app/views/admin/shifts/index.html.erb</p>

<div class="offset-8">
  <%= link_to new_admin_shift_path do %>
  <i class="fas fa-plus-circle fa-3x size"></i>
  <% end %>
</div>

<% @shifts.each do |shift| %>
<div>

<%= shift.employee.first_name %>
<%= shift.confirmation_start_time.hour %>:
<%= shift.confirmation_start_time.min %>〜
<%= shift.confirmation_end_time.hour %>:
<%= shift.confirmation_end_time.min %>


<%= link_to "削除", admin_shift_path(shift.id), method: :delete %>

</div>
<% end %>