<header class="p-3 mb-2 bg-dark border border-info sticky-top" style="height: 80px;">
  <div class="container">

      <% if employee_signed_in? %>
       <nav class="navbar navbar-expand-lg">
          <li>
            <%= link_to "マイページ",mypage_path , class: "btn btn-outline-light" %>
          </li>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "従業員一覧", employees_path , class: "btn btn-outline-light"%></li>
              <li><%= link_to "共有コメント", share_comments_path , class: "btn btn-outline-light"%></li>
              <li><%= link_to "個人シフト", shifts_personal_shift_path, class: "btn btn-outline-light" %></li>
              <li><%= link_to "シフト表", shifts_path, class: "btn btn-outline-light" %></li>
              <li><%= link_to "シフト登録", shifts_sent_shift_path, class: "btn btn-outline-light" %></li>
              <li><%= link_to "ログアウト", destroy_employee_session_path, method: :delete , class: "btn btn-outline-light" %></li>
             </ul>
          </div>
        </nav>
      <% elsif admin_signed_in? %>
        <nav class="navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "承認ページ", admin_employees_authority_path , class: "btn btn-outline-light"%></li>
              <li><%= link_to "従業員一覧", admin_employees_path , class: "btn btn-outline-light"%></li>
              <li><%= link_to "作業登録", admin_tasks_path , class: "btn btn-outline-light"%></li>
              <li><%= link_to "シフト作成", admin_shifts_path , class: "btn btn-outline-light" %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-light"%></li>
            </ul>
          </div>
        </nav>

      <% else %>
        <nav class="navbar navbar-expand-lg">
          <li>
            <%= link_to "Topページ",root_path , class: "btn btn-outline-light" %>
          </li>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li><%= link_to "新規登録", new_employee_registration_path, class: "btn btn-outline-light" %></li>
              <li><%= link_to "従業員ログイン", new_employee_session_path, class: "btn btn-outline-light" %></li>
              <li><%= link_to "管理者ログイン", admin_session_path, class: "btn btn-outline-light" %></li>
             </ul>
          </div>
        </nav>
      <% end %>
</header>